{% if site.resume_social_links %}
<ul class="icon-links">

  {% if site.resume_social_links.resume_twitter_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_twitter_url }}" class="icon-link" itemprop="sameAs" target="_blank">{% include icons/icon-twitter.html %}</a></li>
  {% endif %}

  {% if site.resume_social_links.resume_linkedin_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_linkedin_url }}" class="icon-link" itemprop="sameAs" target="_blank">{% include icons/icon-linkedin.html %}</a></li>
  {% endif %}

  {% if site.resume_social_links.resume_github_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_github_url }}" class="icon-link" itemprop="sameAs" target="_blank">{% include icons/icon-github.html %}</a></li>
  {% endif %}

  {% if site.resume_social_links.resume_ethereum_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_ethereum_url }}" class="icon-link" itemprop="sameAs" target="_blank">{% include icons/icon-ethereum.html %}</a></li>
  {% endif %}

</ul>
{% endif %}
