<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg class="icon" viewBox="0 0 1080 1080" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g transform="matrix(1.40078,0,0,1.40078,-301.167,-179.3)">
        <circle cx="600.5" cy="513.5" r="385.5" style="fill:rgb(199,199,199);"/>
    </g>
    <g transform="matrix(0.718481,0,0,0.718481,540,540)">
        <g transform="matrix(1,0,0,1,-392.185,-638.695)">
            <g id="Layer_x0020_1">
                <g id="_1421394342400">
                    <g>
                        <path d="M392.07,0L383.5,29.11L383.5,873.74L392.07,882.29L784.13,650.54L392.07,0Z" style="fill:white;fill-rule:nonzero;"/>
                        <path d="M392.07,0L-0,650.54L392.07,882.29L392.07,0Z" style="fill:white;fill-rule:nonzero;"/>
                        <path d="M392.07,956.52L387.24,962.41L387.24,1263.28L392.07,1277.38L784.37,724.89L392.07,956.52Z" style="fill:white;fill-rule:nonzero;"/>
                        <path d="M392.07,1277.38L392.07,956.52L-0,724.89L392.07,1277.38Z" style="fill:white;fill-rule:nonzero;"/>
                        <path d="M392.07,882.29L784.13,650.54L392.07,472.33L392.07,882.29Z" style="fill:white;fill-rule:nonzero;"/>
                        <path d="M0,650.54L392.07,882.29L392.07,472.33L0,650.54Z" style="fill:white;fill-rule:nonzero;"/>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
